.global-header--portofolio {
  border: 1px solid rgba(236, 236, 236, 1);
}

// Mobile styles

.global-header {
  position: relative;
}

.global-header__navigation,
.global-header__contacts {
  display: none;
}

// Tablet and Desktop styles

@media screen and (min-width: $tablet-breakpoint) {
  .global-header {
    &__navigation,
    &__contacts {
      display: block;
    }
    &__logo-and-navigation,
    &__menu,
    &__contacts-list {
      display: flex;
    }
    &__navigation {
      padding: 32px 0;
    }
    &__menu {
      margin-left: 93px;
      gap: 50px;
    }
    &__contacts-list {
      gap: 40px;
    }
  }

  .icon {
    &--contacts {
      margin-right: 10px;
    }
    &--email {
      width: 20px;
      height: 12px;
    }
    &--phone {
      width: 10px;
      height: 16px;
      margin-left: 3px;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .global-header__contacts {
    padding-top: 21px;
    &-list {
      flex-direction: column;
      gap: 5px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .global-header__contacts {
    padding-top: 32px;
  }
}
