.hero-section {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    image-set(
      "../images/background-img-m.jpg" 1x,
      "../images/background-img-m@2x.jpg" 2x
    );
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/background-img-d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 118px 0;
  text-align: center;
  &__heading {
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.06em;
    line-height: 1.6;
    margin: auto;
    text-transform: uppercase;
    width: 80%;
  }
}

@media screen and (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .hero-section {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(
        "../images/background-img-t.jpg" 1x,
        "../images/background-img-t@2x.jpg" 2x
      );
    &__heading {
      width: 70%;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .hero-section {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(
        "../images/background-img-d.jpg" 1x,
        "../images/background-img-d@2x.jpg" 2x
      );
    &__heading {
      font-size: 44px;
      line-height: 1.36;
      width: 60%;
    }
  }
}
